.DS_Store
**/.DS_Store

# Java output files
.class
.ctxt
**/*.class
**/*.ctxt
**/*.jar

# EDA Docs
**/*.LabTests
2nd/EDA/eda/aplicaciones/biblioteca/**/*.txt

# BlueJ files
**/*.bluej

# JavaFX useless files
**/nbproject
*.jnlp
**/dist
**/manifest.mf
**/*.properties
**/build.xml
**/node_modules
